<form method="post" action="{{url_for('addemployee')}}">
    {{ employeeform.csrf_token }}
    <input class="addemployee" type="text" placeholder="Nombre completo">
    <input class="addemployee" type="date" required placeholder="Fecha de ingreso">
    <input class="addemployee" type="number" required placeholder="Ingresa el salario diario">
    <input class="addemployee" type="number" required placeholder="Porcentaje">
    {% for error in employeeform.full_name.errors %}
        <span style="color: red;">{{ error }} </span>
    {% endfor %}
    <br>
    <br>
    <br>
    <button id="buttonsaveemp" type="submit">guardar</button>
</form>