<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% block title%}
    <title class="tabupper" >Vacaciones</title>
  {% endblock title%}

  <link rel="icon" href="{{ url_for('static', filename='img/preparation.png') }}"/>
  <link rel="stylesheet"  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
<!-- index -->
<header class="page-header">
  {% block nav %}
    <nav>
      <a href="#0" aria-label="forecastr logo" class="logo">
        <img  width="160" height="129" src="{{ url_for('static', filename='img/preparation.png') }}" alt="Logo">
      </a>
      <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
        <svg width="20" height="20" aria-hidden="true">
          <use xlink:href="#down"></use>
        </svg>
      </button>
      <ul class="admin-menu">
        <li class="menu-heading">
          <h3>Vacaciones</h3>
        </li>
        <li>
          <a href="{{url_for('home')}}">
            <span>Micronegocios</span>
          </a>
        </li> 
        <li>
          <div class="switch">
            <input type="checkbox" id="mode" checked>
            <label for="mode">
              <span></span>
              <span>Dark</span>
            </label>
          </div>
        </li>
      </ul>
    </nav>
  {% endblock %}
</header>

<section class="page-content">
  <section class="search-and-user">
    <h3 id="colortext">{% block urlinto %}Micronegocio{% endblock urlinto %}</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <li>{{ message }}</li>
            </div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </section>
  <section class="grid">
    <article> 
      {% block formcompany %}
        <div class="microform"> 
          {% include "company_form.html" %}
        </div>
      {% endblock formcompany %}
    </article>
    <div>
      <h1 id="titlemicros1">{% block employees%}Micronegocios{% endblock employees%}</h1>
    </div>
    <br>
    <div>
      <table>
        <thead>
          <tr>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="wrapper">
            {%for empresa in listemp %}
              <tr>
                <td>
                  <div class="card card-1">
                    <a class="deleteButton" href="delete/{{empresa.id}}">-</a>
                    <a href="micronegocio/{{empresa.id}}">
                      <h4 id="titlemicros">{{empresa.name}} </h4>
                      <img class="sizeimg"
                        src="https://www.manageengine.com/products/service-desk/itil-incident-management/images/servicedesk-plus-incident-management.png"
                        alt="">         
                    </a>
                  </div>
                </td>
              </tr>
            {%endfor%}
        </tbody>
      </table>
    </div>
  </section>
</section>
<!-- partial -->
  <footer class="page-footer">
    <span>made by </span>
    <a href="#" target="_blank">
      <h4> JEncinas</h4>
    </a>
  </footer>
  <script  src="{{ url_for('static', filename='js/script.js') }}"></script>
  <h4>jencinas</h4>
</body>

</html>