<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='img/preparation.png') }}">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!-- index -->
<header class="page-header">
  <nav>
    <a href="#0" aria-label="forecastr logo" class="logo">
      <img  width="140" height="49" src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="Logo">
    </a>
    <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
      <svg width="20" height="20" aria-hidden="true">
        <use xlink:href="#down"></use>
      </svg>
    </button>
    <ul class="admin-menu">
      <li class="menu-heading">
        <h3>Vacaciones</h3>
      </li>
      <li>
        <a href="#0">
          <span>Micronegocio</span>
        </a>
      </li> 
      <li>
        <div class="switch">
          <input type="checkbox" id="mode" checked>
          <label for="mode">
            <span></span>
            <span>Dark</span>
          </label>
        </div>
      </li>
    </ul>
  </nav>
</header>
<section class="page-content">
  <section class="search-and-user">
    <h3 id="colortext">Micronegocio</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <li>{{ message }}</li>
            </div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </section>
  <section class="grid">
    <article> 
      <div class="microform">

        <form method="POST">
            {{ form.csrf_token }}     
              <input class="addmicro" type="text" name="name" autocomplete="off" required placeholder="agreagar micronegocio">
              {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
              {% endfor %}
              <button id="buttonsave" type="submit">guardar</button>
          </form>
      </div>
    </article>
    <div>
      <h1 id="titlemicros">Micronegocios</h1>
    </div>
    <br>
    <div>
      <table>
        <thead>
          <tr>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="wrapper">
          {%for empresa in listemp %}
            <tr>
              <td>
                <div class="card card-1">
                 <a class="deleteButton" href="delete/{{empresa.id}}">-</a>
                  <h4 id="titlemicros">{{empresa.name}} </h4>
                  <img class="sizeimg" src="https://www.manageengine.com/products/service-desk/itil-incident-management/images/servicedesk-plus-incident-management.png" alt="">
                </div>
              </td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </section>
</section>
<!-- partial -->
  <footer class="page-footer">
    <span>made by </span>
    <a href="#" target="_blank">
      <h4> JEncinas</h4>
    </a>
  </footer>
  <script  src="static/js/script.js"></script>
  <h4>jencinas</h4>
</body>
</html>